<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color: #1a222c;">
    <!-- Naker Background Container -->
    <div id="naker-bg" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
  
    <!-- Header with Icons -->
    <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
      </h1>
  
      <div class="header-icons">
        {% if site.linkedin_username %}
        <div class="tooltip">
          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/camilg">
            <i class="icon fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <span class="tooltiptext">LinkedIn</span>
        </div>
        {% endif %}
  
        {% if site.github_username %}
        <div class="tooltip">
          <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </a>
          <span class="tooltiptext">Github</span>
        </div>
        {% endif %}
  
        {% if site.github_username %}
        <div class="tooltip">
          <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com/citations?user=ZAq-XjwAAAAJ&hl=en&authuser=1">
            <i class="icon fa fa-book" aria-hidden="true"></i>
          </a>
          <span class="tooltiptext">Scholar</span>
        </div>
        {% endif %}
  
        <div class="tooltip">
          <a aria-label="View Resume" target="_blank" href="/resume.pdf">
            <i class="icon fa fa-user" aria-hidden="true"></i>
          </a>
          <span class="tooltiptext">Resume</span>
        </div>    
  
        {% if site.email %}
        <div class="tooltip">
          <a aria-label="Send email" href="mailto:{{ site.email }}">
            <i class="icon fa fa-envelope"></i>
          </a>
          <span class="tooltiptext">Email</span>
        </div>
        {% endif %}
      </div>
  
      <div class="header-links">
        <!-- Optional links -->
      </div>
    </div>
  
    {{ content }}
  
    <!-- Naker (LOCAL, NO CDN) - Loaded async to improve page performance -->
    <script defer
      src="/assets/naker/viewer.js"
      data-container="naker-bg"
      data-option='{
        "offscreen": false,
        "environment": {
          "gradient": "horizontal",
          "sensitivity": 0.8,
          "colorStart": [50,22,103,1],
          "colorEnd": [20,86,205,1]
        },
        "particle": {
          "life": 5,
          "power": 0.01,
          "texture": "/assets/naker/circle_05.png",
          "number": 60,
          "colorStart": [116,129,92,0.13],
          "colorEnd": [198,188,107,0.52],
          "sizeStart": 1.05,
          "sizeEnd": 2.1,
          "direction1": {"x":0,"y":100,"z":100},
          "direction2": {"x":0,"y":-100,"z":-100}
        },
        "waterMark": false
      }'>
    </script>



    <script>
      const iconContainer = document.querySelector('.header-icons');

      ['touchstart', 'touchmove', 'touchend', 'pointerdown', 'pointermove', 'pointerup'].forEach(eventType => {
        iconContainer?.addEventListener(eventType, function(event) {
          event.stopImmediatePropagation();
        }, { passive: false, capture: true });
      });
    </script>



    
  </body>
  
</html>
